In [1]:
import random
import numpy as np
import pandas as pd
from datetime import datetime

# Utilities, groceries, service stations
utilities = ["Groceries", "Apartment Things", "Car Things", "Recreational Drugs"]
# Restaurants
restaurants = ["$ Restaurant", "$$ Restaurant", "$$$ Restaurant", "Fine Dining"]
# Shopping
shopping = ["$ Clothes", "$$ Clothes", "$$$ Clothes", "Designer Clothes"]
# Entertainment
entertainment = ["Bar", "EDM Show", "Other Concert", "Movies", "Video Game Purchase", "Toys"]
# Health
health = ["General Doctor", "Eye Doctor", "Pharmacy Prescriptions", "Nail Appt", "Hair Salon"]
# Travel
travel = ["Gas", "Plane Ticket", "Hotel Visit", "Motel Visit", "Car Rental"]

merchantTags = [utilities, restaurants, shopping, entertainment, health, travel]

In [2]:
#          31,  28,  31,  30,  31,  30,  31,  31,  30,   31,   30,  31
months = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]

def buildDate(month):
    feb = [*range(1, 29)]
    thirtyDays = [*range(1, 31)]
    thirtyOneDays = [*range(1, 32)]
    retDay = 0

    if(month == "4" or month == "6" or month == "9" or month == "11"):
        retDay = random.choice(thirtyDays)
    elif(month == "2"):
        retDay = random.choice(feb)
    else:
        retDay = random.choice(thirtyOneDays)
    
    Str = month + "/" + str(retDay) + "/2021"  # build time string
    dtObj = datetime.strptime(Str, "%m/%d/%Y")  # build datetime object to sort correctly
    return dtObj.strftime("%m/%d/%Y")


# test = np.array([])
# date = buildDate("12")
# print(date)
# np.append(test, date)
# print(test)

# for i in range(20):
#     month = random.choice(months)
#     print(buildDate(month))

12/03/2021
[]

In [17]:
def buildTag():
    tag = random.choice(merchantTags)
    
    choice = random.choice(tag)
    print("Choice: ", choice)

buildTag()

Tag:  ['General Doctor', 'Eye Doctor', 'Pharmacy Prescriptions', 'Nail Appt', 'Hair Salon']
Choice:  General Doctor

In [3]:
allYearPurchases = []

# Populate monthly purchases
for month in months:
    # generate a random number of purchases for that month
    numPurchases = random.randint(50, 200)
    monthlyPurchases = []
    # generate purchases from 0 to numPurchases
    for purchase in range(numPurchases):
        monthlyPurchases.append(buildDate(month))
        #monthlyPurchases.append(buildDate(month))

    #monthlyPurchases.sort()
    allYearPurchases.append(monthlyPurchases)

print(len(allYearPurchases))
print(len(allYearPurchases[0]))

12
167

In [4]:
flatten = [j for sub in allYearPurchases for j in sub]
flatten_df = pd.DataFrame(flatten, columns = ['Date'])
flatten_df.head(50)

          Date
0   01/03/2021
1   01/24/2021
2   01/04/2021
3   01/10/2021
4   01/25/2021
5   01/31/2021
6   01/04/2021
7   01/21/2021
8   01/05/2021
9   01/08/2021
10  01/12/2021
11  01/17/2021
12  01/01/2021
13  01/15/2021
14  01/26/2021
15  01/21/2021
16  01/16/2021
17  01/05/2021
18  01/10/2021
19  01/25/2021
20  01/22/2021
21  01/07/2021
22  01/12/2021
23  01/23/2021
24  01/02/2021
25  01/22/2021
26  01/08/2021
27  01/25/2021
28  01/26/2021
29  01/13/2021
30  01/27/2021
31  01/17/2021
32  01/01/2021
33  01/31/2021
34  01/24/2021
35  01/28/2021
36  01/10/2021
37  01/25/2021
38  01/15/2021
39  01/23/2021
40  01/31/2021
41  01/02/2021
42  01/09/2021
43  01/14/2021
44  01/08/2021
45  01/23/2021
46  01/23/2021
47  01/14/2021
48  01/25/2021
49  01/10/2021